In [1]:
import pandas as pd

In [2]:
countries = pd.read_csv('StackOverflowDeveloperSurvey.csv', usecols=['Country']).dropna()

In [3]:
countries.head()

          Country
0   United States
1  United Kingdom
2  United Kingdom
3   United States
4     Switzerland

In [4]:
'Spain' in countries
#outcome id false beacuse if u don's specify where it is supposed to look for, it searches throug indexes and 'Spain' is a value

False

In [5]:
'Spain' in countries.values

True

In [6]:
'Wonderland' in countries.values
#no such value as 'Wondeland'

False