In [1]:
import pandas as pd
import numpy as np

In [2]:
fuel = pd.read_csv('fuel.csv', low_memory=False, usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])

In [3]:
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [10]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int64
 2   Make                31684 non-null  category
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(1), float64(1), int64(2), object(3)
memory usage: 7.1 MB

In [6]:
fuel['Year'] = fuel['Year'].astype('int')

In [11]:
fuel['Make'].value_counts()

Chevrolet                           3389
Ford                                2721
Dodge                               2361
GMC                                 2174
Toyota                              1599
                                    ...
Panoz Auto-Development                 1
CODA Automotive                        1
Environmental Rsch and Devp Corp       1
E. P. Dutton, Inc.                     1
ASC Incorporated                       1
Name: Make, Length: 128, dtype: int64

In [9]:
fuel['Make'] = fuel['Make'].astype('category')

In [12]:
fuel['Model'].value_counts()

F150 Pickup 2WD                 194
Truck 2WD                       187
F150 Pickup 4WD                 172
Ranger Pickup 2WD               169
Mustang                         156
                               ...
Silver Spur II Mpw Touring L      1
Brooklands/Brklnds L              1
Vdp                               1
Pas-Typhoon                       1
Lancer AWD                        1
Name: Model, Length: 2957, dtype: int64

In [13]:
fuel['Model'] = fuel['Model'].astype('category')

In [14]:
fuel['Fuel Type'].value_counts()

Regular                       22439
Premium                        7375
Diesel                          936
Gasoline or E85                 767
CNG                              55
Electricity                      33
Premium or E85                   33
Gasoline or natural gas          18
Midgrade                         16
Gasoline or propane               8
Premium Gas or Electricity        3
Name: Fuel Type, dtype: int64

In [15]:
fuel['Fuel Type'] = fuel['Fuel Type'].astype('category')

In [18]:
fuel['Combined MPG (FT1)'] = fuel['Combined MPG (FT1)'].astype('float')

In [19]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int64
 2   Make                31684 non-null  category
 3   Model               31683 non-null  category
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  category
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(3), float64(1), int64(2), object(1)
memory usage: 3.4 MB