In [1]:
import pandas as pd

In [2]:
fuel = pd.read_csv('fuel.csv', low_memory=False, usecols=[ 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])

In [3]:
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [4]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int64
 2   Make                31684 non-null  object
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.7+ MB

In [5]:
fuel.dtypes

Vehicle ID              int64
Year                    int64
Make                   object
Model                  object
Class                  object
Fuel Type              object
Combined MPG (FT1)    float64
dtype: object

In [8]:
fuel.dtypes.value_counts()

object     4
int64      2
float64    1
dtype: int64

In [9]:
fuel['Make'].value_counts()

Chevrolet                 3389
Ford                      2721
Dodge                     2361
GMC                       2174
Toyota                    1599
                          ...
General Motors               1
Panoz Auto-Development       1
Goldacre                     1
Panos                        1
Mitsubish                    1
Name: Make, Length: 128, dtype: int64

In [10]:
fuel.index

RangeIndex(start=0, stop=31684, step=1)

In [11]:
fuel.columns

Index(['Vehicle ID', 'Year', 'Make', 'Model', 'Class', 'Fuel Type',
       'Combined MPG (FT1)'],
      dtype='object')

In [12]:
fuel.values

array([[26587, 1984, 'Alfa Romeo', ..., 'Minicompact Cars', 'Regular',
        20.0],
       [27705, 1984, 'Alfa Romeo', ..., 'Minicompact Cars', 'Regular',
        20.0],
       [26561, 1984, 'Alfa Romeo', ..., 'Two Seaters', 'Regular', 21.0],
       ...,
       [32065, 2012, 'Mitsubishi', ..., 'Compact Cars', 'Premium', 19.0],
       [32064, 2012, 'Mitsubishi', ..., 'Compact Cars', 'Premium', 19.0],
       [32106, 2012, 'Mitsubish', ..., nan, nan, nan]], dtype=object)

In [13]:
fuel.axes

[RangeIndex(start=0, stop=31684, step=1),
 Index(['Vehicle ID', 'Year', 'Make', 'Model', 'Class', 'Fuel Type',
        'Combined MPG (FT1)'],
       dtype='object')]

In [14]:
fuel.shape

(31684, 7)

In [15]:
fuel.count

<bound method DataFrame.count of        Vehicle ID  Year        Make               Model  \
0           26587  1984  Alfa Romeo           GT V6 2.5
1           27705  1984  Alfa Romeo           GT V6 2.5
2           26561  1984  Alfa Romeo  Spider Veloce 2000
3           27681  1984  Alfa Romeo  Spider Veloce 2000
4           27550  1984  AM General   DJ Po Vehicle 2WD
...           ...   ...         ...                 ...
31679       32060  2012  Mitsubishi              Lancer
31680       32063  2012  Mitsubishi          Lancer AWD
31681       32065  2012  Mitsubishi    Lancer Evolution
31682       32064  2012  Mitsubishi    Lancer Evolution
31683       32106  2012   Mitsubish                 NaN

                             Class Fuel Type  Combined MPG (FT1)
0                 Minicompact Cars   Regular                20.0
1                 Minicompact Cars   Regular                20.0
2                      Two Seaters   Regular                21.0
3                      Two Seaters   Regular                21.0
4      Special Purpose Vehicle 2WD   Regular                17.0
...                            ...       ...                 ...
31679                 Compact Cars   Regular                25.0
31680                 Compact Cars   Regular                25.0
31681                 Compact Cars   Premium                19.0
31682                 Compact Cars   Premium                19.0
31683                          NaN       NaN                 NaN

[31684 rows x 7 columns]>

In [16]:
len(fuel)

31684