In [1]:
import pandas as pd

In [3]:
fuel = pd.read_csv('fuel.csv', low_memory=False, usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'], index_col='Vehicle ID')

In [4]:
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [5]:
fuel['Make'].head()

Vehicle ID
26587    Alfa Romeo
27705    Alfa Romeo
26561    Alfa Romeo
27681    Alfa Romeo
27550    AM General
Name: Make, dtype: object

In [8]:
fuel['Make'].value_counts().head()

Chevrolet    3389
Ford         2721
Dodge        2361
GMC          2174
Toyota       1599
Name: Make, dtype: int64

In [9]:
fuel.loc[1873]

Year                             1986
Make                       Mitsubishi
Model                         Starion
Class                 Subcompact Cars
Fuel Type                     Premium
Combined MPG (FT1)               19.0
Name: 1873, dtype: object

In [10]:
fuel.loc[1873, 'Combined MPG (FT1)']

19.0

In [14]:
fuel['Combined MPG (FT1)'].max()

112.0

In [15]:
fuel['Combined MPG (FT1)'].idxmax()

31673

In [16]:
fuel.loc[31673]

Year                             2012
Make                       Mitsubishi
Model                          i-MiEV
Class                 Subcompact Cars
Fuel Type                 Electricity
Combined MPG (FT1)              112.0
Name: 31673, dtype: object

In [18]:
fuel.loc[fuel['Combined MPG (FT1)'].idxmax()]

Year                             2012
Make                       Mitsubishi
Model                          i-MiEV
Class                 Subcompact Cars
Fuel Type                 Electricity
Combined MPG (FT1)              112.0
Name: 31673, dtype: object

In [19]:
shortFuel = fuel[['Make', 'Model']]

In [20]:
shortFuel.head()

                  Make               Model
Vehicle ID
26587       Alfa Romeo           GT V6 2.5
27705       Alfa Romeo           GT V6 2.5
26561       Alfa Romeo  Spider Veloce 2000
27681       Alfa Romeo  Spider Veloce 2000
27550       AM General   DJ Po Vehicle 2WD